.hidden {
  display: none; }

#header {
  background: black;
  color: white;
  height: 100px; }
  #header form {
    padding: 18px; }
  #header input {
    display: inline-block;
    width: 200px; }
  #header button {
    display: inline; }

.well {
  background: black;
  width: 50%;
  float: right; }

ul {
  display: inline-block;
  vertical-align: top;
  list-style-type: none; }

.btn-default:hover {
  background-color: red;
  border: maroon 1px solid; }

.admimirer img, .admimirer .details {
  display: inline-block; }
