$bgGrey: #111111;
$wellGrey: #424242;
$red:#8E0404;
$maroon: #4A0101;

body {

}

.hidden {
  display: none;
}

.fixed {
  position: fixed;
}

h1, h2, h3 {
  font-family: 'Josefin Sans', sans-serif;
}

h1, h2, h3 {
  font-weight: 700;
  text-transform: lowercase;
}

h1 {
  font-size: 42px;
}

.btn-default:hover {
  background-color: $red;
  color: $maroon;
  border-color: $maroon;
}

#home {
  background: url("http://gidbn.sites.caxton.co.za/wp-content/uploads/sites/96/2014/06/Sibo-Masondo-1.jpg"), $bgGrey;
  background-position-x: -124%;
  background-size: 81%;
  background-repeat: no-repeat;
  h2 {
    text-shadow: 1px 1px 2px rgba(0, 0, 0, 1);
  }
  .well {
    background: $wellGrey;
    border: 0;
    border-radius: 0;
    border-bottom-right-radius: 8px;
    border-bottom-left-radius: 8px;
    width: 44.5%;
    float: right;
    margin-right: 3.5%;
    margin-bottom: 4%;
    padding: 3% 3% 4% 3%;
    -webkit-box-shadow: -1px 1px 11px -1px rgba(0,0,0,0.75);
    -moz-box-shadow: -1px 1px 11px -1px rgba(0,0,0,0.75);
    box-shadow: -1px 1px 11px -1px rgba(0,0,0,0.75);
    &:hover {
      cursor: pointer;
    }
    h2 {
      color: white;
    }
  }
}

.header {
  background: black;
  color: white;
  padding: 15px 5%;
  h1 {
    &:hover {
      cursor: pointer;
    }
  }
  form {
    padding: 22px 10px;
  }
  input{
    display: inline-block;
  }
  button {
    display: inline;
  }
}



#main {
  .header {
    position: fixed;
    width: 100%;
    z-index: 1000;
  }
  .margin {
    width: 90%;
    margin: auto;
  }
  #main-content {
    margin: 100px auto;
  }
  h2 {

  }
  h3 {
    font-weight: 300;
    color: grey;
  }
  li {
    margin-bottom: 5px;
  }
  .glyphicon {
    margin-right: 10px;
  }
}

ul {
  display: inline-block;
  vertical-align: top;
  list-style-type: none;
  padding: 0;
}

#current-user-prof {
  padding-right: 105px;
  margin-top: 20px;
  button {
    margin-top: 20px;
  }
}
#admimirer-list {
  .ad-avatar {
    width: 50px;
    height: 50px;
    img {
      height: 100%;
    }
  }
  img, .details {
    display: inline-block;
  }
  .details {
    vertical-align: top;
  }
}
