body {
  background: black;
  color: white

}

.hidden {
  display: none;
}

.col-lg-3, .col-lg-6 {
  border: red 1px solid;
}

ul {
  display: inline-block;
  vertical-align: top;
  list-style-type: none;
}

.btn-default:hover {
  background-color: red;
  border: maroon 1px solid;
}
